<html>
<body>
 <centre>   
     <h3>COVID 19 PROBABLITY PREDICTION </h3>
<div>
  <form action="/predict" method="POST">
    <label for="Breathing Problem">Breathing Problem</label>
    <select id="Breathing Problem" name="Breathing Problem"> 
      <option value="1">Yes</option> 
      <option value="0">No</option>
    </select>
    <br>


   <label for="Fever">Fever</label>
    <select id="Fever" name="Fever"> 
       <option value="1">Yes</option> 
       <option value="0">No</option>
    </select>
    <br>  
       
    <label for="Dry Cough">Dry Cough</label>
    <select id="Dry Cough" name="Dry Cough"> 
      <option value="1">Yes</option> 
      <option value="0">No</option>
    </select>
    <br>  

    <label for="Sore throat">Sore throat</label>
    <select id="Sore throat" name="Sore throat"> 
      <option value="1">Yes</option> 
      <option value="0">No</option>
    </select>
    <br> 

     <label for="Running Nose">Running Nose</label>
    <select id="Running Nose" name="Running Nose"> 
      <option value="1">Yes</option> 
      <option value="0">No</option> 
    </select>
    <br> 

     <label for="Asthma">Asthma</label>
    <select id="Asthma" name="Asthma"> 
      <option value="1">Yes</option> 
      <option value="0">No</option>
      </select>
    <br> 

    <label for="Chronic Lung Disease">Chronic Lung Disease</label>
    <select id="Chronic Lung Disease" name="Chronic Lung Disease"> 
      <option value="1">Yes</option> 
      <option value="0">No</option> 
    </select>
    <br> 

    <label for="Headache">Headache</label>
    <select id="Headache" name="Headache"> 
      <option value="1">Yes</option> 
      <option value="0">No</option>
    </select>
    <br> 
  
    <label for="Heart Disease">Heart Disease</label>
    <select id="Heart Disease" name="Heart Disease"> 
      <option value="1">Yes</option> 
      <option value="0">No</option> 
    </select>
    <br> 
 
     <label for="Diabetes">Diabetes</label>
    <select id="Diabetes" name="Diabetes"> 
      <option value="1">Yes</option> 
      <option value="0">No</option>
    </select>
    <br> 

    <label for="Hyper Tension">Hyper Tension</label>
    <select id="Hyper Tension" name="Hyper Tension"> 
      <option value="1">Yes</option> 
      <option value="0">No</option>
    </select>
    <br> 

   
    <label for="Fatigue">Fatigue</label>
    <select id="Fatigue" name="Fatigue"> 
      <option value="1">Yes</option> 
      <option value="0">No</option>
    </select>
    <br>

    <label for="Gastrointestinal">Gastrointestinal</label>
    <select id="Gastrointestinal" name="Gastrointestinal"> 
      <option value="1">Yes</option> 
      <option value="0">No</option> 
    </select>
    <br> 


     <label for="Tastelessness">Tastelessness</label>
    <select id="Tastelessness" name="Tastelessness"> 
      <option value="1">Yes</option> 
      <option value="0">No</option> 
    </select>
    <br> 

    <label for="Contact with COVID Patient">Contact with COVID Patient</label>
    <select id="Contact with COVID Patient" name="Contact with COVID Patient"> 
      <option value="1">Yes</option> 
      <option value="0">No</option>
    </select>
    <br> 

     <label for="Attended Large Gathering">Attended Large Gathering</label>
    <select id="Attended Large Gathering" name="Attended Large Gathering"> 
       <option value="1">Yes</option> 
       <option value="0">No</option> 
    </select>
    <br> 

     
     <label for="Impaired Smell">Impaired Smell</label>
    <select id="Impaired Smell" name="Impaired Smell"> 
      <option value="1">Yes</option> 
      <option value="0">No</option>
    </select>
    <br> 

    <label for="Family working in Public Exposed Places">Family working in Public Exposed Places</label>
    <select id="Family working in Public Exposed Places" name="Family working in Public Exposed Places"> 
      <option value="1">Yes</option> 
      <option value="0">No</option> 
    </select>
    <br> 

     <label for="Wearing Masks">Wearing Masks</label>
    <select id="Wearing Masks" name="Wearing Masks"> 
      <option value="1">Yes</option> 
      <option value="0">No</option>
    </select>
    <br> 

     <label for="Sanitization from Market">Sanitization from Market</label>
    <select id="Sanitization from Market" name="Sanitization from Market"> 
      <option value="1">Yes</option> 
      <option value="0">No</option>
    </select>
    <br> 
    <input type="submit" value="Predict">
  </form>

  
</div> 
</body> 
</html> 